<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Hello, world!</h1>
      <div class="alert alert-danger">Hello, {{ .title }}</div>
    </div>    
    <script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>