{{ template "base.html" . }}

{{ define "title" }}
    MyFood - Управление едой
{{ end }}

{{ define "content" }}
    <div class="mb-3">
        <a
            role="button"
            href="/food/set"
            class="btn btn-primary"><i class="bi bi-plus-square"></i></a>
        <a
            role="button"
            href="/food/search"
            class="btn btn-primary"><i class="bi bi-search"></i></a>
    </div>

    {{ if not .Data }}
        <div class="alert alert-secondary" role="alert">
            Пустой список еды
        </div>
    {{ else }}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-light">
                        <th class="align-middle">Наименование</th>
                        <th class="align-middle">Бренд</th>
                        <th class="align-middle">ККал, 100г.</th>
                        <th class="align-middle">Комментарий</th>
                        <th class="align-middle text-center"><i class="bi bi-gear"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $food := .Data }}
                    <tr>
                        <td class="align-middle col-md-4">{{ $food.name }}</td>
                        <td class="align-middle col-md-2">{{ $food.brand }}</td>
                        <td class="align-middle col-md-1">{{ $food.cal100 }}</td>
                        <td class="align-middle col-md-4">{{ $food.comment }}</td>
                        <td class="align-middle text-center col-md-1">
                            <a
                                href="/food/view/{{ $food.key }}"
                                class="btn btn-primary"><i class="bi bi-box-arrow-right"></i></a>
                        </td>
                    </tr>     
                    {{ end }}                                                                                                                                                                                                                                                                       
                </tbody>
            </table>   
        </div>
    {{ end }}
{{ end }}