{{ template "base.html" . }}

{{ define "title" }}
    MyFood - Управление едой
{{ end }}

{{ define "content" }}
    <div class="row mb-3">
        <div class="col-4">
            <a
                role="button"
                href="/food/set"
                class="btn btn-primary"><i class="bi bi-plus-square"></i></a>
        </div>
        <div class="col-8">
            <div class="input-group float-end">
                <input type="text" class="form-control">
                <button class="btn btn-outline-secondary" type="button" id="btnSearch"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>

    <div id="blockLoader" class="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id="blockList" class="table-responsive" hidden>
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-light">
                    <th class="align-middle">Наименование</th>
                    <th class="align-middle">Бренд</th>
                    <th class="align-middle">ККал, 100г.</th>
                    <th class="align-middle">Комментарий</th>
                    <th class="align-middle text-center"><i class="bi bi-gear"></i></th>
                </tr>
            </thead>
            <tbody id="tblFood">                                                                                                                                                                                                                                                                                
            </tbody>
        </table>   
    </div>
{{ end }}

{{ define "script" }}
    <script src="/static/js/myfood/food/list.js"></script>
{{ end }}