{{ template "base.html" . }}

{{ define "title" }}
    MyFood - Просмотр еды
{{ end }}

{{ define "content" }}
    <div id="blockLoader" class="spinner-border">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id="blockError" hidden>
        <a
            href="/food"
            class="btn btn-primary"><i class="bi bi-box-arrow-left"></i></a>          
    </div>
    <div id="blockFound" hidden>
        <form>
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label fw-bold">Наименование</label>
                <div class="col-sm-4">
                    <input type="text" readonly class="form-control-plaintext" id="name" value="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="brand" class="col-sm-2 col-form-label fw-bold">Бренд</label>
                <div class="col-sm-4">
                    <input type="text" readonly class="form-control-plaintext" id="brand" value="">
                </div>
            </div>  
            <div class="row mb-3">
                <label for="cal100" class="col-sm-2 col-form-label fw-bold">ККал, 100г.</label>
                <div class="col-sm-4">
                    <input type="text" readonly class="form-control-plaintext" id="cal100" value="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="prot100" class="col-sm-2 col-form-label fw-bold">БЖУ, 100г.</label>
                <div class="col-sm-4">
                    <input type="text" readonly class="form-control-plaintext" id="pfc" value="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="comment" class="col-sm-2 col-form-label fw-bold">Комментарий</label>
                <div class="col-sm-4">
                    <textarea readonly class="form-control" id="comment"></textarea>
                </div>
            </div>
            <a
                href="/food"
                class="btn btn-primary"><i class="bi bi-box-arrow-left"></i></a>
            <button
                id="btnSet"
                type="button"
                class="btn btn-warning"><i class="bi bi-pencil"></i></button>
            <button
                id="btnDelete"
                type="button"
                class="btn btn-danger"><i class="bi bi-trash"></i></button>        
        </form>
    </div>
{{ end }}

{{ define "script" }}
    <script>
        var foodKey = "{{ .Data.key }}";
    </script>
    <script src="/static/js/myfood/food/view.js"></script>
{{ end }}